.layout-outer{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
}
.layout-inner{
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 5px;

    background-color: #fff;
    border: 1px solid rgba(211, 210, 210, 0.88);
}
.layout-inner.flexer{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.layout-inner.live-assessment{
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;

    justify-content: space-around;
}
.title-bar{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title-bar h1{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
}
.button-holder{
    display: flex;
    flex-direction: row;
}
.button-holder > span{
    width: 20px;
}
.content-wrapper{
    width: 100%;
    min-width: 100%;
    height: auto;
    margin-top: 2rem;
}
.ant-table-wrapper{
    width: 100%;
}
.ant-table-wrapper table{
    border-radius: none;
}