.ant-layout{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
}
.ant-layout-header{
  height: 60px;
  padding: 2rem;
  background-color: #394867;
  color: #F1F6F9;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icon-menu{
  cursor: pointer;
}
.drawer-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-wrapper{
  width: 100%;
  max-width: 100vw;
  background-color: #F1F6F9;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.right-wrapper{
  padding-top: 1rem;
}
.instruction-box{
  width: 240px;
  height: 400px;
  background-color: #9BA4B5;
  padding: 1rem;
}
.instruction-box h3{
  text-align: center;
  padding: 0;
  margin: 0;
}

.content-wrapper{
  width: 60%;
  max-width: calc(100% - 300px);
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.question-wrapper{
  width: 90%;
  max-width: 700px;
  background-color: none;
  margin-top: 1rem;
}

.time-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.timer{
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  text-align: right;
  margin-left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-clock{
  margin-right: .5rem;
}
.question-text{
  font-size: 1.1rem;
}
.button-wrapper{
  width: 100%;
  margin-top: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button-wrapper .ant-btn{
  width: 100%;
  max-width: 150px;
  margin-right: .5rem;
}



.row-flexer{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ant-layout-footer{
  width: 100%;
  height: 60px;
  background-color: #F1F6F9;
  position: fixed;
  bottom: 0;
}

.audio-animation{
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animation{
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.animation span{
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #9BA4B5;
}
span.first{
  height: 20px;
}
span.second{
  height: 35px;
}
span.third{
  height: 50px;
}
span.fourth{
  height: 35px;
}
span.fifth{
  height: 20px;
}

.animation.running .first{
  animation: keyStrokes 1s linear infinite;
}
.animation.running .second{
  animation: keyStrokes 1s .5s linear infinite;
}
.animation.running .third{
  animation: keyStrokes 1s 1s linear infinite;
}
.animation.running .fourth{
  animation: keyStrokes 1s 1.5s linear infinite;
}
.animation.running .fifth{
  animation: keyStrokes 1s 2s linear infinite;
}


@keyframes keyStrokes {
  0%{
    height: 10px;
  }
  100%{
    height: 50px;
    background-color: #394867;
  }
}


@media (max-width:600px) {
  .ant-layout-header{
    padding: .5rem;
  }
  .instruction-box{
    display: none;
  }
  .ant-layout-content{
    max-width: none;
  }
  .ant-card{
    width: 100%;
    min-width: none;
    max-width: none;
  }
}